.PaginatedTodos-page {
  display: inline-block;
  padding: 10px 15px;
  margin: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 25px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
}

.PaginatedTodos-page.active {
  background-color: rgba(255, 255, 255, 0.2);
  font-weight: bold;
}

.Filters-container {
  padding: 30px;
  font-size: 20px;
}

.Filters-container .Filter-item {
  padding: 0 35px;
  color: #888;
  cursor: pointer;
  line-height: 25px;
}

.Filters-container .Filter-item:hover {
  color: #bbb;
  font-size: 22px;
}

.Filters-container .Filter-item.active,
.Filters-container .Filter-item.active:hover {
  color: white;
  font-size: 25px;
}
