.Todo-container {
  position: relative;
  min-width: 500px;
  padding: 10px;
  margin: 10px 0;
  text-align: left;
  cursor: default;
}

.Todo-check {
  position: absolute;
  top: 17px;
  left: -35px;
  cursor: pointer;
  font-size: 30px;
}

.Todo-todo.done .Todo-check,
.Todo-todo.done .Todo-check:hover {
  color: green;
  font-size: 30px;
  cursor: default;
}

.Todo-check:hover {
  color: green;
  font-size: 35px;
}

.Todo-delete {
  display: none;
  cursor: pointer;
  color: red;
  font-size: 20px;
}

.Todo-todo:hover .Todo-delete {
  display: inline-block;
  margin-left: 10px;
}

.Todo-todo:hover .Todo-delete:hover {
  font-size: 25px;
  margin-bottom: -3px;
  margin-left: 8px;
}
